.body{
    
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
}


header{
    text-align: center;
    background-color: #58ac3d;
    font-weight: bold;
}

footer{
    text-align: center;
    background-color: #58ac3d;
    font-weight: bold;
}

.titre{
    text-decoration: underline;
    text-decoration-color: #259a28;
}

.navbar{
    background-color: #ffc098;
}

.div-contenu{
    background-color: #ffc0cb;
    width: 90%;
}


.menu{
    width: 10%;
}

.test{
    display: flex;
}



.vertical-menu a {
  background-color: #ffc098;
  display: block; 
  padding: 8px; 
}

.nos-produits{
    font-weight: bold;
    color: #790000  ;
}
.onglets{
    text-decoration: underline !important;
    color: black;
}

.link-lookalike {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0px;
}